 <h2>
        List of products 
    </h2>
<div class="container">
    <table class="table table-hover text-left">
      <tr>
        <th class="col-sm-3">Name</th>
        <th class="col-sm-3">Price</th>
        

        
      </tr>
      <tr *ngFor = "let user of users">
          <td class="col-sm-3">{{user.name}}</td>
          <td class="col-sm-3">{{user.price}}</td>
         
       
  
      </tr>
      </table>
    </div>