
    <h2>
        List of users 
    </h2>
<div class="container">
    <table class="table table-hover text-left">
      <tr>
        <th class="col-sm-3">Username</th>
        <th class="col-sm-3">Phone</th>
        

        
      </tr>
      <tr *ngFor = "let user of users">
          <td class="col-sm-3">{{user.name}}</td>
          <td class="col-sm-3">{{user.phone}}</td>
         
       
  
      </tr>
      </table>
    </div>