<button (click) = "showSlim = true" >Show Slim users</button>
<button (click) = "showSlim = false">Show Firebase users</button>

<div *ngIf = showSlim>
<form [formGroup] = "usersform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name = "username" id = "name" formControlName = "username" class = "form-control" >
    <div *ngIf = "usersform.get('username').touched && usersform.get('username').invalid" class="alert alert-danger">
      Username is required
    </div>         
  </div>
  <div>
    <label for="email"></label>
    <input type="text" name = "email" id = "email" formControlName = "email" class = "form-control">
    <div *ngIf = "usersform.get('email').touched && usersform.get('email').invalid" class="alert alert-danger">
        Email is required
    </div>   
  </div>
  <input type="submit" value = "Submit new user" class = "btn btn-primary">
</form>
<ul class = "list-group">
  <li  class = "list-group-item" *ngFor="let key of usersKeys">
    <button (click) = "deleteUser(key)">Delete</button>
    <button (click) = "showUpdate(key)">Update</button>  
     Username: {{users[key].username}} Email {{users[key].email}}
     <div *ngIf = "updates[key]">
      <form [formGroup] = "usersformupdate" (ngSubmit) = "updateUser(key)">
        <div>
          <label for="name"></label>
          <input type="text" name = "username" id = "username" formControlName = "username" class = "form-control" >
          <div *ngIf = "usersformupdate.get('username').touched && usersformupdate.get('username').invalid" class="alert alert-danger">
            Username is required
          </div>         
        </div>
        <div>
          <label for="email"></label>
          <input type="text" name = "email" id = "email" formControlName = "email" class = "form-control">
          <div *ngIf = "usersformupdate.get('email').touched && usersformupdate.get('email').invalid" class="alert alert-danger">
              Email is required
          </div>   
        </div>
        <input type="submit" value = "Update user" class = "btn btn-primary">
      </form>       
     </div>
  </li>
</ul>
</div>
<div *ngIf = !showSlim >
  <ul>
    <li *ngFor = "let fuser of fusers">
      Username: {{fuser.username}} Email: {{fuser.email}}
    </li>
  </ul>
</div>