
<button  class= "btn btn-primary" (click)= "logout()">Logout</button>
<button class="btn btn-warning" [routerLink] = "['/usersf']">Firebase</button>
<br>
<app-users-form (addUser)="optimisticAdd($event)" (addUserPs)= "pasemisticAdd()"  ></app-users-form>
<h2>
  <strong>Users list</strong>
</h2>

<ul class="list-group">
 
  <li  class="list-group-item" *ngFor = "let key of usersKeys"><a [routerLink] = "['/user', key]">
    <strong>Name:</strong> {{users[key].username}}<br><strong>email:</strong> {{users[key].email}} </a><br>
      
    <button  class="btn btn-info" [routerLink] = "['/updateform', key]">Update</button>
      <button type="button" class="btn btn-danger" (click)="deleteUser(key)">Delete</button>
    
  </li>
</ul>