input [type='submit']:hover{
    background-color: #e4dcd1;
    }



input [type='submit']:disabled{
background-color: #192022;
}

div{
    width:35%;
    margin-left: 5px;
    
} 
.alert-danger{
    color:red;
    
    
    
}

#leftbutton{
   margin-left: 170px;
   
}