<form  [formGroup] = "userform" (ngSubmit) = "sendData()" >
    
    
  <br>
   <div>
       <label for="username">User name</label>
       <input type="text" name = "username" id = "username" class = "form-control" formControlName = "username"  >
      <div  class= "alert alert-danger" *ngIf = "!userform.controls.username.valid && userform.get('username').touched"> It's a required field</div>
 
  </div>
   <br> <br>
   
   
   
   <div>
    <label for="email">Email</label>
    <input type="text" name = "email" id = "email" class = "form-control" formControlName = "email" >
    <div  class= "alert alert-danger" *ngIf = "!userform.controls.email.valid && userform.get('email').touched"> It's a required field</div>
  </div>
<br>
  <input type="submit" [disabled]= !userform.valid  value = "Add User"  class = "btn btn-primary" id="leftbutton"> 
  </form>