<form [formGroup] = "userform" (ngSubmit) = "sendData()">
  
   <div>
       <label for="name">User name</label>
       <input type="text" name = "username" id = "username" class = "form-control" 
       formControlName = "username" value="{{user?.username}}" [(ngModel)]="username">
  </div>
   
   <div>
    <label for="email">Mobile number</label>
    <input type="text" name = "email" id = "email"  class = "form-control"  
    formControlName = "email" value="{{user?.email}}"  [(ngModel)]="email">
  </div>


  <input type="submit" value = "update" class = "btn btn-primary"> 
  </form>