<h2>
  <strong>Products list</strong>
</h2>

<ul class="list-group">
 
  <li  class="list-group-item" *ngFor = "let key of productsKeys"><a [routerLink] = "['/product', key]">
    <strong>Product:</strong> {{products[key].name}}<br><strong>email:</strong> {{products[key].price}} </a><br>
      
    <button  class="btn btn-info" [routerLink] = "['/updateform', key]">Update</button>
      <button type="button" class="btn btn-danger" (click)="deleteUser(key)">Delete</button>
    
  </li>
</ul>