<div style="text-align: center;">
	<form [formGroup] = "loginform" (ngSubmit) = "login()" style="text-align: center;">
		<div>
		  <label for="username"></label>
		  <input type="text" name= "username" id= "username" class="form-control" formControlName = "username" placeholder="Please enter username" >
		</div>

		<div>
		  <label for="password"></label>
		  <input type="text" name= "password" id= "password" class="form-control" formControlName = "password" placeholder="Please enter password">
		<div *ngIf = "invalid" class="alert alert-danger">
		 	Invalid username ar password
			

		</div>
		</div>
		
		<br />
    <input type="submit" value= "Login" class= "btn btn-primary">
	</form>
</div>	